* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    color: hsl(224, 23%, 55%);
    font-family: 'Red Hat Display', sans-serif;
    height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: hsl(225, 100%, 94%);
}

.container > * {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
    background-color: white; 
    
}

.image-container {
    margin: 0px auto;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    overflow: hidden;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.content {
    padding: 50px;
    /* border: 2px solid red; */
    border-bottom-left-radius: 15px;
    border-bottom-right-radius:15px;
}

.plan-container {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 70px;
    background-color:hsl(225, 100%, 98%);
    padding:30px 10px;
    /* border: 2px solid red; */
    
}

.plan {
    display: flex;
    flex-direction: column;
    flex:1;
}

.plan-container img {
    margin-right: 20px;
}

.plan-type {
    color: black;
    font-weight: 900;
}

.button {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h1 {
    color: black;
    font-weight: 900;
    margin-bottom: 0.5em;
}

.description p {
    line-height: 1.8em;
    text-align: center;
    margin-bottom: 50px;
}

button {
    width: 100%;
    padding: 15px 100px;
    border-radius: 12px;
    border: none;
    font-weight: 900;
}

.pay {
    background-color: hsl(245, 75%, 52%);
    color: white;
}

.cancel {
    color:hsl(224, 23%, 55%)
}

@media only screen and (min-width: 1440px) {
    body {
        background-image: url('./images/pattern-background-desktop.svg');
    }
}